header{
    nav{
        @include flex ( column, wrap, space-between);
        // prevent following content to move down on div hover
        min-height: 2em;
        width: 100%;

        @media only screen and (min-width: $mobile-width){
            @include flex (row, nowrap, space-between);
        }

        >div:nth-child(1){
            text-align: center;
            width: 100%;
            @media only screen and (min-width: $mobile-width){
                text-align: left;
                width: auto;
            }
        }

        // right side of the nav
        >div:nth-child(2){
            @include flex ( column, nowrap, space-between);
            width: 100%;
            text-align: center;
        
            @media only screen and (min-width: $mobile-width){
                @include flex (row, nowrap, flex-end);
                column-gap: 1.5em;
            }
            >div{
                display: inline-block;
                
                &:hover{
                    border-bottom: 2px solid darkslategray;
                    padding-bottom: .25em;
                    font-weight: bold;
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
    }
    @media only screen and (max-width: $mobile-width){
        h1{
            transform: scale(.75);
        }
    }
}