main{
    // center spinner for content loading
    text-align: center;
        #searchSection{
            margin: 0 auto;
            >input{
                font-size: 1.5em;
                padding: .25em .5em;
                border: 1px solid lightgrey;
                border-radius: .3em;
                width: 100%;
                // input insed parent div: https://stackoverflow.com/questions/1633522/html-input-element-wider-than-containing-div
                box-sizing: border-box;
            } 

            #parameters{
                @include flex(column, nowrap, space-around);
                margin: .5em auto 1em auto;
                
                > div{
                    margin: 0 auto;
                    text-align: left;
                }
                
                @media only screen and (min-width: $mobile-width){
                    @include flex(row, nowrap, space-around);
                    width: 80%;
                }
            }
        }
    }