.modalNewSalaryEntry{
    .input-group-prepend{
        width: 25%;
        min-width: 6.5em;
        >span{
            width: 100%;
            display: inline;
            text-align: center;
        }
    }

    .modalDescription {
        margin-bottom: 1em;

        $descriptionFieldHeight: 5em;
        > .input-group{
            min-height: $descriptionFieldHeight !important;
            
            textarea {
                min-height: $descriptionFieldHeight;
            }
        }
    }

    .modalEmploymentForm{
        width: 100%;
        // box-sizing: border-box;
        display: inline-block;
        .dropdown{
            // width: calc(100% - 25%);
            width: 60%;

            @media only screen and (min-width: 460px) {
                width: 75%;
            }

            >button{
                width: 100%;
                font-size: unquote('min(2.85vw, 1em)');
            }
        }
    }

    .modalDate{
        @include flex(column, nowrap, space-between);

        >div{
            width: 100%;
            max-width: 20em;
            text-align: center;
            margin: 0 auto;
        }

        > .date > span{
            display: inline-block;
            margin-bottom: .5em;
            margin-right: 2em;
        }

        @media only screen and (min-width: $desktop-width){
            @include flex(row, nowrap, space-between);

            >div{
                width: 45%;
            }
        }
    }

    .modal-footer{
        @include flex(row, wrap, space-between !important);
        background: lightgray;
    }
}