.modalNewSalaryEntry{
    .input-group-prepend{
        width: 25%;
        >span{
            width: 100%;
            display: inline;
            text-align: center;
        }
    }

    .modalDescription {
        margin-bottom: 1em;

        $descriptionFieldHeight: 5em;
        > .input-group{
            min-height: $descriptionFieldHeight !important;
            
            textarea {
                min-height: $descriptionFieldHeight;
            }
        }

    }

    .modalDate{
        @include flex(column, nowrap, space-between);

        >div{
            width: 100%;
            max-width: 20em;
            text-align: center;
            margin: 0 auto;
        }

        > .date > span{
            display: inline-block;
            margin-bottom: .5em;
        }

        @media only screen and (min-width: $desktop-width){
            @include flex(row, nowrap, space-between);

            >div{
                width: 45%;
            }
        }
    }

    .modal-footer{
        @include flex(row, wrap, space-between !important);
        background: lightgray;
    }
}