.modalNewSalaryEntry{
    .input-group-prepend{
        width: 25%;
        >span{
            width: 100%;
            display: inline;
            text-align: center;
            vertical-align: middle
        }
    }

    .modalDescription{
        margin-bottom: 1em;
    }
}