.salaryEntry{
    border: 2px solid lightgray;
    background: #C0C0C0;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 2em;
    
    >div{
        width: 100%;
    }

    .title{
        font-size: unquote('min(4.5vw, 2em)');
        margin-bottom: .5em;
        font-weight: bold;
    }

    .description{
        padding: 1em .5em;
        font-style: italic;
        text-align: justify;
    }

    .technologies{
        @include flex(row, wrap, center);
        gap: 1em;

        .tech{
            background: lightgrey;
            border: 1px solid white;
            padding: .25em .5em;
            border-radius: .5em;

            text-align: center;
            min-width: 5em;
            font-size: 1.15em;
        }
    }

    .salarySection{
        @include flex(column, wrap, center);
        column-gap: 1em;
        
        @media only screen and (min-width: $desktop-width){
            @include flex(row, nowrap, center);
        }
        
        > div{
            margin: 0 auto;
            width: 100%;
            text-align: center;

            @media only screen and (min-width: $desktop-width){
                text-align: left;
            }
        }
        
        .selectors{
            max-width: 15em;

            select{
                font-size: 1.15em;
                border-radius: .25em;
                padding: .25em;
                width: 100%;
            }
        }
    }
}