// Variables
@mixin flex($direction, $wrap, $content){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $content ;
}

// Layout
body{
    font-family: "Playfair Display", "Arvo", Georgia, "Times New Roman", serif;
    background: lightgrey;
}

#root{
    margin: 0 auto;
    padding: 1.5em;
    width: 80%;
    background: darkgray;
    border-radius: .75em;

    // header, main, footer

    footer{
        margin-top: 1em
    }
}

// imports
@import './header';
@import './index';
@import './salaryEntry';
@import './footer';
