// Variables
@mixin flex($direction, $wrap, $content){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $content ;
}

$mobile-width: 480px;
$desktop-width: 768px;

// imports
@import './header';
@import './index';
@import './salaryEntry';
@import './newSalaryEntry';
@import './footer';


// Layout
body{
    // font-family: "Playfair Display", "Arvo", Georgia, "Times New Roman", serif;
    background: lightgrey !important;
}

#root{
    margin: 2em auto;
    padding: 1.5em;
    width: 80%;
    background: darkgray;
    border-radius: .75em;
    
    // header, main, footer
    > div{
        // 100vh minus the margins and paddings from #root
        min-height: calc(100vh - 4em - 3em);
        @include flex(column, nowrap, space-between);

        > main{
            // flex main to full height
            flex: 1;
        }
    }
    

    footer{
        margin-top: 1em
    }
}
